<!DOCTYPE html>
<!-- https://github.com/Yonle/Toard -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="<%= bds.find(i => i.id === id)?.d || pst[0].d %>" />
    <title>/<%= id %>/ - <%= bds.find(i => i.id === id)?.t || pst[0].t %></title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body>
    <div id="top"></div>
    <div class="border fixed top left">
      <b>Toard - </b>
      <span>Text only bulletin board</span>
    </div>
    <a href="#create" class="border fixed top right">New Thread</a
    ><br /><br />

    <div id="posts">
      <!-- Posts --->
      <% for (const p of pst) { %>
      <div class="border post" id="t<%= p.ts %>">
        <div class="border">
          <b><a href="<%= srch ? "/" + p.id + "#t" + p.ts : "#t" + p.ts %>"><%= p.t %></a></b>
          <span class="date"><%- srch ? `at <a href="/${p.id}">/${p.id}/</a> - ` : "" %><%= (new Date(p.ts)).toLocaleDateString("id") %></span>
        </div>
        <pre><%= p.d %></pre>
      </div>
      <% }; %>
    </div>
    <br /><br />

    <div id="components">
      <% if (!["hello_there", "toard_api", "search"].includes(id.toLowerCase())) { %>
      <!-- Reply Button --->
      <form
        id="reply"
        action="/<%= id %>/reply"
        method="POST"
        class="border fixed left right bottom popup"
        style="bottom: 40px"
      >
        <div class="border">
          <input
            style="width: 99%"
            type="text"
            name="t"
            id="reply_name"
            placeholder="Name (optional)"
          />
        </div>
        <textarea
          style="width: 98%; height: 10vh"
          name="d"
          placeholder="Comment"
          id="reply_comment"
          required
          autofocus
        ></textarea>
        <button
          class="border right"
          style="color: black; background: white"
          type="submit"
          id="reply_button"
        >
          Reply
        </button>
        <a style="color: black; background: white" href="#">Cancel</a>
        <small>Replying to <b>/<%= id %>/</b></small>
      </form>
      <% } %>

      <!-- Post Creation -->
      <form
        id="create"
        action="/create"
        method="POST"
        class="border fixed left right popup"
        style="bottom: 40px"
      >
        <div class="border">
          <input
            style="width: 99%"
            type="text"
            name="t"
            placeholder="Title"
            required
            autofocus
          />
        </div>
        <textarea
          style="width: 98%; height: 10vh"
          name="d"
          placeholder="Description"
          required
          autofocus
        ></textarea
        ><br />
        <button
          class="border right"
          style="float: right; color: black; background: white"
          type="submit"
        >
          Create Thread
        </button>
        <a style="color: black; background: white" href="#">Cancel</a>
        <small>Create new thread</small>
      </form>

      <!-- Discover Threads -->
      <% if (bds) { %>
      <div
        id="browse"
        class="border fixed left right top bottom popup"
        style="overflow-y: auto"
      >
        <b class="border top left">Discover</b>
        <a
          class="border top right fixed"
          style="color: black; background: white"
          href="#"
          >Hide</a
        ><br />
        <span class="fixed left"
          >There's <b><%= Object.keys(bds).length %> threads</b> in this
          server.</span
        >

        <br /><br />
        <div>
          <% bds.reverse().forEach(i => { %>
          <div class="border post">
            <b class="border top left"
              ><a href="/<%= i.id %>"><%= i.t %></a></b
            > <span class="date"><%= i.length - 1 %> replies - <%= (new Date(i.ts)).toLocaleDateString("id") %></span>
            <pre><%= i.d %></pre>
          </div>
          <% }); %>
        </div>
      </div>
      <% } %> 
    </div>

    <!-- Bottom Menus -->
    <div class="bottom fixed">
      <div class="left">
        <a class="border" href="/">Home</a>
        <a class="border" href="#browse">Browse</a>
        <a class="border" href="#reply">Reply</a>
      </div>
      <form action="/search" method="POST"><input
        class="border fixed right"
        name="q"
        type="text"
        placeholder="Search Post....",
        value="<%= srch || "" %>"
        required
      /></form>
    </div>

    <div id="bottom"></div>
  </body>
  <script>
    let posts = document.getElementById("posts");
    let len = document.getElementById("posts").getElementsByTagName("pre").length;

    function make(data) {
      if (!data.ts || !data.t || !data.d) return;
      let post = document.createElement("div");
      let span = document.createElement("span");
      let borderTop = document.createElement("div");
      let pre = document.createElement("pre");
      let a = document.createElement("a");
      let b = document.createElement("b");

      len++

      a.innerText = data.t;
      a.href = "#t" + data.ts;
      b.appendChild(a);

      span.innerText = (new Date(data.ts)).toLocaleDateString("id");
      span.classList.add("date");
      borderTop.appendChild(b);
      borderTop.appendChild(span);
      borderTop.classList.add("border");

      pre.innerText = data.d;
      post.id = "t" + data.ts;

      post.appendChild(borderTop);
      post.appendChild(pre);
      post.classList.add("border");

      posts.appendChild(post);
    }

    function getNewPosts() {
      if (["hello_there", "toard_api", "search"].includes(location.pathname.slice(1))) return;
      fetch(location.protocol + "//" + location.host + "/api" + location.pathname + "?from=" + len)
        .then(r => r.json())
        .then(posts => {
          if (posts.length) {
            const oldtitle = document.title;
            document.title = `(*) ${posts.length} new replies for ${location.pathname}/`;
            setTimeout(() => document.title = oldtitle, 10000);
          }
          posts.forEach(make);
        });
    }

    setInterval(getNewPosts, 10000);
    <% if (!ct) { %>
    function submit() {
      document.getElementById("reply_name").disabled = true;
      document.getElementById("reply_comment").disabled = true;
      document.getElementById("reply_button").disabled = true;

      let t = encodeURIComponent(document.getElementById("reply_name").value);
      let d = encodeURIComponent(document.getElementById("reply_comment").value);

      let xhr = new XMLHttpRequest ();
      xhr.open("POST", location.pathname + "/reply", true);
      xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhr.send(`t=${t}&d=${d}`);

      xhr.addEventListener('load', _ => {
        location.hash = "#bottom";
        document.getElementById("reply_comment").value = "";

        document.getElementById("reply_name").disabled = false;
        document.getElementById("reply_comment").disabled = false;
        document.getElementById("reply_button").disabled = false;
      });

      xhr.addEventListener('error', submit);
    }

    document.getElementById("reply_button").onclick = submit;
    document.getElementById("reply_button").type = "button";
    <% } %>
  </script>
</html>
